openapi: 3.2.0
info:
  title: Apiary API List API
  version: '2020-03-02'
  summary: Apiary loves APIs. Of course then, we have an API too.
  description: The Apiary API is Apiary.io's own public API.
  contact:
    name: Apiary Support
    email: support@apiary.io
    url: https://help.apiary.io
  license:
    name: Proprietary — Oracle Cloud Infrastructure
    url: https://apiary.io/tos
  termsOfService: https://apiary.io/tos
  x-apiary-description-format: apiblueprint
  x-apiary-last-updated: '2020-03-02T13:09:52.558Z'
  x-provenance:
    generated: '2026-09-02'
    method: derived
    source: https://jsapi.apiary.io/apis/apiary
    source_http_status: 200
    source_saved_verbatim: api-description/apiary-api-description.json
    note: 'Derived from Apiary''s own published API description document, fetched from Apiary''s own host (jsapi.apiary.io) and describing Apiary''s own production host (https://api.apiary.io/). Ownership is unambiguous: the description names itself "Apiary API", is owned by the Apiary account, declares production base https://api.apiary.io/, and lists support@apiary.io. Apiary publishes no OpenAPI/Swagger of its own — /openapi.json, /openapi.yaml, /swagger.json, /api-docs, /docs and /redoc all return 404 on api.apiary.io (probed 2026-09-02) — so this document is a translation, not a harvest.'
servers:
- url: https://api.apiary.io
  description: Production
tags:
- name: API List
  description: Apiary API exposes lists of APIs. Your authorization token grants access to private and public, personal and team API Projects.
paths:
  /me/apis:
    get:
      operationId: listMyApis
      summary: Get User API List
      description: Get a list of public and private, personal and team APIs an authorized user may access.
      tags:
      - API List
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The API Projects the caller may access.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiList'
        '401':
          description: Token Invalid.
          headers:
            WWW-Authenticate:
              description: Bearer error="invalid_token"
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Transport Layer Security Required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /me/teams/{teamId}/apis:
    parameters:
    - name: teamId
      in: path
      required: true
      description: A team ID.
      schema:
        type: string
      example: 518bcf09a6e4580200000...
    get:
      operationId: listTeamApis
      summary: Get Team API List
      description: Get a list of public and private, team APIs an authorized user may access.
      tags:
      - API List
      security:
      - bearerAuth: []
      responses:
        '200':
          description: The team's API Projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiList'
        '401':
          description: Token Invalid.
          headers:
            WWW-Authenticate:
              description: Bearer error="invalid_token"
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Transport Layer Security Required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Team ID Invalid.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Api:
      type: object
      properties:
        apiName:
          type: string
          description: The API name.
        apiDocumentationUrl:
          type: string
          format: uri
          description: A URL string representing a documentation resource for an API.
        apiSubdomain:
          type: string
          description: The subdomain for the API.
        apiIsPrivate:
          type: boolean
          description: Is the API private?
        apiIsPublic:
          type: boolean
          description: Is the API public?
        apiIsTeam:
          type: boolean
          description: Is the API a team API?
        apiIsPersonal:
          type: boolean
          description: Is the API a personal API?
    ApiList:
      type: object
      properties:
        apis:
          type: array
          description: A list of APIs.
          items:
            $ref: '#/components/schemas/Api'
    Error:
      type: object
      description: The Apiary API error envelope — a single `error` string drawn from a closed enum.
      properties:
        error:
          type: string
          description: An error message.
          enum:
          - Unauthorized
          - Transport Layer Security Required
          - Token Invalid
          - Token Description Length Greater Than 30
          - Token Description Missing
          - Token Description Already Exists
          - Token Creation Failed
          - Token Deletion Failed
          - Token Retrieval Failed
          - User Query Failed
          - API Query Failed
          - Team ID Invalid
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication with the Apiary account email and password. Used only on /authorization to mint, list and revoke tokens. Not available to users in IDCS-controlled teams.
    bearerAuth:
      type: http
      scheme: bearer
      description: 'RFC 6750 Bearer token. Generate at https://login.apiary.io/tokens or via POST /authorization. Sent as `Authorization: Bearer <token>`.'
    legacyToken:
      type: apiKey
      in: header
      name: Authentication
      description: 'Legacy Apiary token header, sent as `Authentication: Token <token>` (note: the header is `Authentication`, not `Authorization`). Apiary labels the /blueprint/* group legacy. This is the same token value the Apiary CLI reads from the APIARY_API_KEY environment variable.'
externalDocs:
  description: Apiary API interactive documentation (Apiary-hosted)
  url: https://apiary.docs.apiary.io
